<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rz.security.mapper.PermissionMapper">
    <resultMap id="permissionMap" type="com.rz.security.pojo.Permission">
        <id jdbcType="CHAR" property="id" column="id"/>
        <result jdbcType="TIMESTAMP" property="createTime" column="create_time"/>
        <result jdbcType="TIMESTAMP" property="lastUpdateTime" column="last_update_time"/>
    </resultMap>

    <sql id="Base_sql">
        id,description,url,create_time,last_update_time,stat
    </sql>

    <select id="selectById" resultMap="permissionMap">
        select
          <include refid="Base_sql"/>
            from t_permission
              where id=#{id}
    </select>
    <select id="selectByIds" resultMap="permissionMap">
        select
        <include refid="Base_sql"/>
        from t_permission
        where id in
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectAll" resultMap="permissionMap">
        select
        <include refid="Base_sql"/>
        from t_permission
    </select>

</mapper>