<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rz.security.mapper.RolePermissionMapper">
    <resultMap id="rolePerMap" type="com.rz.security.pojo.RolePermission">
        <id jdbcType="CHAR" property="id" column="id"/>
        <result jdbcType="CHAR" property="roleId" column="role_id"/>
        <result jdbcType="CHAR" property="perId" column="per_id"/>
        <result jdbcType="TIMESTAMP" property="createTime" column="create_time"/>
        <result jdbcType="TIMESTAMP" property="lastUpdateTime" column="last_update_time"/>
    </resultMap>

    <sql id="Base_sql">
        id,role_id,per_id,create_time,last_update_time,stat
    </sql>

    <select id="selectByRoleId" resultMap="rolePerMap">
        select
          <include refid="Base_sql"/>
            from t_role_permission
              where role_id=#{roleId}
    </select>

    <select id="selectByRoleIds" resultMap="rolePerMap">
        select
          <include refid="Base_sql"/>
        from t_role_permission
        where role_id in
        <foreach collection="roleIds" item="roleId" index="index" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <select id="selectByPerId" resultMap="rolePerMap">
        select
        <include refid="Base_sql"/>
        from t_role_permission
        where per_id=#{perId}
    </select>



</mapper>